@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(73, 58, 171);
    text-align: center;
}

h1 {
    margin-bottom: 0;
    color: #3f8efc;
    font-style: italic;
}

figure {
    margin-top: 0;
    font-size: 24px;
}

figure img {
    width: 38vh;
    margin: 0 auto;
    padding: 0.85em;
    display: flex;
    border-radius: 30%;
}

header {
    text-align: inherit;
    margin-bottom: 0;

}

.caption {
    font-style: italic;
    font-size: 0.8em;
    color: #3f8efc;

}

a {
    font-size: 20em;
    width: 100%;
    text-decoration: none;
    
}

div {
    display: inline-block;
}

.recipe-box {
    margin: auto 1.2em;
    
}

a img {
    width: 0.9em;
    border: 3px solid black;
    border-radius: 20%;
    padding: 0.15em;  
}


a img:hover {
    background-color:rgb(43, 75, 217)
}




