* {
    margin: 0;
}

#resize {
    height: 600px;
    width: auto;
    border-radius: 25%;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1,
figure {
    text-align: center;
    font-family: monospace;
}

.caption {
    font-size: 15px;
    font-style: italic;
}

#body {
    text-align: center;
    background-color: steelblue;
}

ul {
    list-style-type: none;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: salmon;
}

.leftside {
    float: right;
}